.debug {
    * {
        border: 1px dotted black;
    }

    header {
        background-color: lightcoral;
    }

}

.menu {
    display: flex;
    padding: 1rem;

    .menu-left {
        align-items: center;

        a {
            text-decoration: none;
            color: var(--drop-black-color);
            padding-right: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .menu-right {
        align-items: center;

        a {
            text-decoration: none;
            color: var(--drop-black-color);
            padding-right: 1rem;

            &:hover {
                text-decoration: underline;
            }

        }

        .btn {
            border: 1px solid transparent;
            padding: 0.4rem;
            background-color: var(--drop-btn-color);
            color: var(--drop-white-color);

            &:hover {
                text-decoration: none;
            }

        }
    }
}


.jumbotron {
    width: 100%;
    height: 100%;
    background-color: var(--drop-light-color);
    border-bottom: 1px solid grey;
    margin-bottom: 6rem;

}

.pay-plan {
    width: 100%;
    height: 100%;
}



/* utilities */
.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.card-block {
    width: 30%;

    .card-head {
        width: 100%;

        .img {
            max-width: 100%;
        }
    }
}

.container-big {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 2rem;

    img {
        width: 570px;
        position: absolute;
        top: 38%;
        left: 45%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;

    .rad {
        accent-color: var(--drop-btn-color);
    }

    .card-big {
        width: 100%;
        height: 100%;

        .card-head {
            padding: 0.5rem 1rem;
        }

        .card-body {
            padding: 1rem;
            padding-bottom: 2rem;

            .inner-container-left {
                width: 65%;
            }

            .inner-container-right {
                width: 30%;
                padding-top: 1rem;
            }

        }

    }

    .card {
        width: 30%;

        .card-head {
            text-align: center;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid grey;
        }

        .card-body {
            padding: 1rem;
            padding-bottom: 2rem;

            i.fa-check {
                color: var(--drop-btn-color);
            }

        }
    }
}

.border {
    border: 1px solid gray;
}

.box-35 {
    width: 35%;

    p {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    a {
        text-decoration: none;
    }

    .btn-clear {
        border: 1px solid var(--drop-black-color);
        padding: 0.4rem;
        text-decoration: none;
        color: var(--drop-black-color);

        &:hover {
            opacity: 60%;
            ;
        }
    }
}

.box-55 {
    width: 55%;

    .img {
        width: 500px;
        max-width: 100%;
    }
}

.btn {
    border: 1px solid transparent;
    padding: 0.4rem;
    background-color: var(--drop-btn-color);
    color: var(--drop-white-color);
    text-decoration: none;

    &:hover {
        opacity: 60%;
        ;
    }
}

/* common */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --drop-btn-color: #0061fe;
    --drop-white-color: #ffffff;
    --drop-black-color: #000000;
    --drop-light-color: #b4d0e6;
    --drop-gray-color: gray;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
    margin-bottom: 2rem;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

.div-line {
    border-bottom: 1px solid gray;
    width: 30%;
}

.align-center {
    text-align: center;
}

.align-middle {
    align-items: center;
}

label {
    margin-right: 1.5rem;
}

.gray-txt {
    color: var(--drop-gray-color);
    margin-bottom: 2rem;
}

.mar-bot {
    margin-bottom: 10px;
}

.mar-bot-big {
    margin-bottom: 2rem;
}

.pad-top-big{
    padding-top: 5rem;
}